body{
background-color: aquamarine;
}

h1{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 3em;
    margin-bottom: 0em;
}

h2{
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 2em;
    margin-top: 0em;
    margin-bottom: 1.5em;

}

.MainPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

footer{
    font-size: .75em;
    text-align: center;
}